<div class="container">
  <h2 class="category-slider-heading">Top Categories</h2>
  <div class="category-slider-container">
    <div class="category-card">
      <div class="category-card-image-container">
        <img src="../../../../assets/images/furniture.jpg" alt="furniture-image" class="category-card-image">
      </div>
      <div class="cat-text-container">
        <p class="category-card-header">Furniture</p>
        <p class="category-card-des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id, cum
          voluptatibus. Deserunt consectetur incidunt rem provident, dolores maiores ad dolorem!</p>
      </div>
    </div>
    <div class="category-card">
      <div class="category-card-image-container">
        <img src="../../../../assets/images/sofa.jpg" alt="" class="category-card-image">
      </div>
      <div class="cat-text-container">
        <p class="category-card-header">Decor</p>
        <p class="category-card-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi minima
          sint illo possimus in? Dolor sequi reiciendis necessitatibus, delectus tempore neque iusto cum
          unde dolorum, corporis fugit in aspernatur. Ducimus!</p>
      </div>
    </div>
    <div class="category-card">
      <div class="category-card-image-container">
        <img src="../../../../assets/images/bedding.jpg" alt="" class="category-card-image">
      </div>
      <div class="cat-text-container">
        <p class="category-card-header">Bedding</p>
        <p class="category-card-des">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
          iste maiores totam atque nesciunt beatae quas nihil, iusto, est amet nulla ut optio, quaerat ex!
        </p>
      </div>
    </div>
    <div class="category-card">
      <div class="category-card-image-container">
        <img src="../../../../assets/images/lighting.jpg" alt="" class="category-card-image">
      </div>
      <div class="cat-text-container">
        <p class="category-card-header">Lighting</p>
        <p class="category-card-des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum
          voluptatem earum neque ut eligendi culpa, ad deserunt harum dicta consequatur?</p>
      </div>
    </div>
  </div>
</div>
