<app-error *ngIf="error"></app-error>
<div class="main-auth-container">
  <div class="auth-container">
    <div class="auth-form-container">
      <h1 class="form-heading">
        WELCOME AGAIN, LOGIN HERE
      </h1>
      <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" class="auth-form">
        <div class="form-input-container">
          <input class="form-input" type="text" placeholder="Email or Phone No" name="credential" #credential="ngModel"
            ngModel required>
          <span class="form-validation-message" *ngIf="!credential.valid && credential.touched">
            Credential is Required
          </span>
          <br>
          <input class="form-input" type="password" placeholder="Password" name="password" ngModel required
            minlength="6" #password="ngModel">
          <span class="form-validation-message" *ngIf="!password.valid && password.touched">Password is Required</span>
        </div>
        <button type="submit" [ngClass]="isLogging|| !authForm.valid?'auth-submit-button-loading':'auth-submit-button'"
          [disabled]="isLogging || !authForm.valid">
          {{isLogging?"Logging...":"Login"}}
        </button>
      </form>
      <p class="signup-link-para">
        Are You New? <a routerLink="/auth/sign-up" class="signup-link">SIGN UP</a> now!!
      </p>
    </div>
    <div class="image-container">
      <img class="auth-image"
        src="https://images.unsplash.com/photo-1618220179428-22790b461013?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=327&q=80"
        alt="">
    </div>
  </div>
</div>
