<div class="main-auth-container">
  <div class="auth-container">
    <div class="image-container">
      <img class="auth-image"
        src="https://images.unsplash.com/photo-1583847268964-b28dc8f51f92?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
        alt="">
    </div>
    <div class="auth-form-container">
      <h1 class="form-heading">
        NEW TO OUR SHOP, SIGN UP
      </h1>
      <form action="" class="auth-form">
        <div class="form-input-container">
          <input class="form-input" type="text" name="name" placeholder="Username">
          <input class="form-input" type="email" name="email" placeholder="Email">
          <input class="form-input" type="text" name="mobileNo" placeholder="Contact Number">
          <input class="form-input" type="password" name="password" placeholder="Password">

        </div>
        <button type="submit" class="auth-submit-button">
          SIGN UP
        </button>
      </form>
      <p class="signup-link-para">
        Already Have An Account? <a routerLink="/auth/sign-in" class="signup-link">LOG IN</a> now!!
      </p>
    </div>

  </div>
</div>
