<nav class="sticky-nav">
  <div class="nav-container first-nav">
    <div class="nav-left">
      <a class="nav-heading" href="#">FUNITURE</a>
    </div>
    <div class="nav-middle">
      <div class="nav-search-container">
        <div class="icon-container">
          <i class='bx bx-search'></i>
        </div>
        <input class="search-input" type="text" name="" id="" placeholder="Search Your product here">
      </div>
    </div>
    <div class="nav-right">
      <i class='bx bx-heart'></i>
      <i class='bx bx-shopping-bag'></i>
      <i class='bx bx-user'></i>
      <button class="nav-reg">
        Log out
      </button>
    </div>
  </div>
  <div class="nav-container">
    <div class="nav-sub-container">
      <div class="nav-category">
        <p>FURNITURE</p>
        <div class="nav-sub-category">
          <a>Bathroom Furniture</a>
          <a>Bedroom Furniture</a>
          <a>Dining Room & Bar Furniture</a>
          <a>Home Office Furniture</a>
          <a>Kids' & Toddler Furniture</a>
          <a>Living Room Furniture</a>
          <a>Patio & Outdoor Furniture</a>
        </div>
      </div>
      <div class="nav-category">
        <p>LIGHTING</p>
        <div class="nav-sub-category">
          <a>Ceiling Lighting</a>
          <a>Lamps & Lamp Shades</a>
          <a>Kitchen & Bath Lighting</a>
          <a>Fandeliers</a>
          <a>Outdoor Lighting</a>
          <a>Specialty Lighting</a>
          <a>Kids Lighting</a>
          <a>Light Bulbs & Lighting Accessories</a>
        </div>
      </div>
      <div class="nav-category">
        <p>DECOR</p>
        <div class="nav-sub-category">
          <a>Fireplaces</a>
          <a>Window Treatments</a>
          <a>Mirrors</a>
          <a>Wall Art</a>
          <a>Throw Pillows</a>
          <a>Decorative Accessories</a>
          <a>Accent Pieces</a>
          <a>Doormats</a>
          <a>Outdoor Decor</a>
          <a>Rugs</a>
          <a>Slipcovers & Furniture Covers</a>
        </div>
      </div>
      <div class="nav-category">
        <p>Kids & Baby</p>
        <div class="nav-sub-category">
          <a>Baby & Nursery</a>
          <a>Kids & Toddler Furniture</a>
          <a>Kids Toys</a>
          <a>Kids Outdoor Play</a>
          <a>Gifts for Kids</a>
        </div>
      </div>
      <div class="nav-category">
        <p>Bedding</p>
        <div class="nav-sub-category">
          <a>Bedding Sets</a>
          <a>Comforters and Sets</a>
          <a>Quilts and Bedspreads</a>
          <a>Bed Sheets and Pillowcases</a>
          <a>Bed Protectors</a>
          <a>Blankets</a>
          <a>Duvet Covers and Sets</a>
          <a>Down Comforters and Duvet Inserts</a>
          <a>Bed-in-a-Bag</a>
          <a>Bed Pillows</a>
          <a>Pillow Shams</a>
          <a>Kids Bedding</a>
          <a>Daybed Cover Sets</a>
          <a>Shop New Arrivals</a>
        </div>
      </div>
      <div class="nav-category">
        <p>Kitchen</p>
        <div class="nav-sub-category">
          <a>Kitchen & Dining Furniture</a>
          <a>Small Appliances</a>
          <a>Kitchen Storage</a>
          <a>Major Appliances</a>
          <a>Cookware & Bakeware</a>
          <a>Cooking Essentials</a>
          <a>Kitchen & Table Linens</a>
          <a>Serveware</a>
          <a>Glassware & Drinkware</a>
          <a>Outdoor Cooking</a>
          <a>Cutlery & Accessories</a>
          <a>Flatware Setse</a>
          <a>Microwaves</a>
        </div>
      </div>
      <div class="nav-category">
        <p>Outdoor</p>
        <div class="nav-sub-category">
          <a>Patio Furniture</a>
          <a>Outdoor Decor</a>
          <a>Outdoor Rugs</a>
          <a>Garden Accents</a>
          <a>Fire Pits & Chimineas</a>
          <a>Patio Umbrellas & Shades</a>
          <a>Gardening & Yard Care</a>
          <a>Outdoor Storage</a>
          <a>Outdoor Lighting</a>
          <a>Swing Sets</a>
          <a>Grills & Outdoor Cooking</a>
          <a>Hot Tubs, Spas & Accessories</a>
          <a>Swimming Pools & Accessories</a>
          <a>Lawn Games</a>
          <a>Trampolines</a>
        </div>
      </div>
    </div>
  </div>
</nav>
